.show {
    display: block
}

.baseStyle {
    display: none;
    color: #6b6c6e;
    position: absolute;
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
    background: white;
    opacity: 0.6;
    z-index: 99;
}

.baseStyle:hover {
    transform: scale(1.05);
}

/* .overlay {
    width: 100vh;
    height: 100vh;
    z-index: 98;
    background-color: rgb(4, 2, 2);
    position: absolute;
} */

.fieldNameText_taipei {
    top: 10%;
    left: 74%;
}

.fieldNameText_newtaipei {
    top: 95px;
    left: 534px;

}

.fieldNameText_taoyuan {
    top: 74px;
    left: 332px;
}

.fieldNameText_hsinchu {
    top: 111px;
    left: 306px;
}

.fieldNameText_taichung {
    display: none;
    position: absolute;
    top: 213px;
    left: 350px;
}

.fieldNameText_taichungFirst {
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
    opacity: 0.6;
    color: #6b6c6e;
    background: white;
    margin-bottom: 5px;
    text-align: center;
}

.fieldNameText_taichungCollege {
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
    opacity: 0.6;
    color: #6b6c6e;
    background: white;
    top: 246px;
    left: 349px;
}

.fieldNameText_taichungCollege:hover,
.fieldNameText_taichungFirst:hover {
    transform: scale(1.05);
}

.fieldNameText_yunlin {
    top: 319px;
    left: 306px;

}

.fieldNameText_chiayi {
    top: 377px;
    left: 307px;
}

.fieldNameText_tainan {
    top: 411px;
    left: 275px;
}

.fieldNameText_kaohsiung {
    display: none;
    position: absolute;
    top: 452px;
    left: 352px;
}

.fieldNameText_kaohsiungFirst {
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
    opacity: 0.6;
    color: #6b6c6e;
    background: white;
    margin-bottom: 5px;
}

.fieldNameText_kaohsiungLake {
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
    opacity: 0.6;
    color: #6b6c6e;
    background: white;
    top: 470px;
    left: 331px;
}

.fieldNameText_kaohsiungFirst:hover,
.fieldNameText_kaohsiungLake:hover {
    transform: scale(1.05);
}

.fieldNameText_pingtung {
    display: none;
    position: absolute;
    top: 531px;
    left: 147px;
}

.fieldNameText_pingtungFirst {
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
    opacity: 0.6;
    background: white;
    color: #6b6c6e;
    margin-top: 5px;
    text-align: center;
}

.fieldNameText_pingtungChina {
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
    opacity: 0.6;
    background: white;
    color: #6b6c6e;

}

.fieldNameText_pingtungFirst:hover,
.fieldNameText_pingtungChina:hover {
    transform: scale(1.05)
}

.fieldNameText_yilan {
    top: 173px;
    left: 323px;
}

.fieldNameText_hualien {
    top: 382px;
    left: 337px;
}

.fieldNameText_taitung {
    top: 481px;
    left: 409px;

}